body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-image: url('cycle.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #e0e8d6;
    text-align: center;
    text-shadow: #007BFF 2px 2px 4px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}